*~
.*.swp
*.pyc
*.directory
/Makefile.local
/.cache/
/.pyenv/
/.jsenv/
/.rbenv/
/.rbenv-version
/.build/
/.sysroot/
/.sysroot-bak/
/.pkglist
/lib/
python_bitcoin.egg-info/
/.coverage
/build/
/db/
MANIFEST
dist/*
tests/data/blk????.dat
.tmp
